
.calendar {
  width: 100%;
}
.presets {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.presets button {
  flex: 1;
  padding: 0.25rem;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  border: 1px solid var(--border);
  font-weight: 500;
  transition: var(--transition);
}

.presets button:hover {
  background: #e0e0e0;
}

.presets .skip-btn:hover {
  background: var(--primary);
  filter: var(--cta-hover);
}
.presets button.active {
  background: var(--primary);
  color: #fff;
}

.month-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25rem;
}
.month-nav button {
  background: none;
  border: none;
  cursor: pointer;
}
.month-nav button:disabled {
  opacity: 0.3;
  cursor: default;
}
.month-title {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.weekdays,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1rem;
  row-gap: 0rem;
}
.weekday {
  text-align: center;
  padding-bottom: 0.25rem;
}

.day {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.1rem 0;
  cursor: pointer;
  border-radius: 50%;
  line-height: 0;
  transition: var(--transition);
  border: 1px solid transparent;
}
.day.disabled {
  color: #ccc;
  cursor: default;
}
.day.selected {
  background: var(--black);
  color: var(--white);
  font-weight: bold;
}
.day:not(.disabled):hover {
  border: 1px solid var(--border);
}
