@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
  font-size: clamp(16px, 1.4vw, 1.3em);
  scroll-behavior: smooth;
  scroll-padding-top: 15rem;
  overflow-x: hidden;
  background-color: #FAFAFA;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    color: var(--black);
    box-sizing: border-box;
    font-size: var(--p2);
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    line-height: normal;
  }

  .cta,
  .cta-2 {
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    color: var(--cta-color);
    border-radius: 0.5rem;
    transition: var(--transition);
    cursor: pointer;
    user-select: none;
    text-align: center;
    width: fit-content;
    font-weight: 500;
    user-select: none;
    outline: none;
    font-family: "Inter", sans-serif;
    background-color: var(--primary);
    border: 1px solid rgb(0, 0, 0, 0.2);
    height: 2rem;
    gap: 0.25rem;
    font-size: calc(0.95 * var(--p2));
    line-height: 0;
  }

  
}

:root {
  --black: #1e1e1e;
  --white: #ffffff;
  --primary: #0169b7;
  --cta-color: #ffffff;
  --border: #e6e6e6;
  --border-2: rgba(216, 216, 218, 0.25);
  --border-3: #d8d8da;
  --input-bg: #fafafa;
  --input-bg-2: rgba(250, 250, 250, 0.35);
  --icon-black: rgba(27, 27, 27, 0.75);
  --icon-primary: rgba(251, 172, 34, 0.75);
  --background: #fcfcfd;
  --success: #00ad00;
  --error: #b60707;
  --warning: #f0c63d;

  /* typography */
  --h1: clamp(1.59rem, 4.9vw, 1.9rem);
  --h2: clamp(1.25rem, 4vw, 1.5rem);
  --h3: clamp(1rem, 3.5vw, 1.25rem);
  --h4: clamp(0.95rem, 3vw, 1.15rem);
  --p1: clamp(0.75rem, 2.5vw, 0.85rem);
  --p2: clamp(0.62rem, 1.8vw, 0.72rem);
  --p3: clamp(0.5rem, 1.65vw, 0.6rem);
  --p4: clamp(0.45rem, 1.5vw, 0.55rem);
  --p5: clamp(0.35rem, 1.45vw, 0.45rem);

  /* elements */
  --radius: 1rem;
  --radius-m: 0.75rem;
  --radius-s: 0.55rem;
  --radius-ss: 0.4rem;
  --padding: clamp(0.75rem, 3vw, 1rem);

  --transition: ease 0.5s;
  --cta-hover: brightness(93%);
}

/* @media (width > 1440px) {
  :root {
    --h1: clamp(1.73rem, 5.75vw, 2.3rem);
    --h2: clamp(1.44rem, 4.6vw, 1.73rem);
    --h3: clamp(1.15rem, 4.03vw, 1.44rem);
    --h4: clamp(1.09rem, 3.45vw, 1.32rem);

    --p1: clamp(0.86rem, 2.88vw, 0.98rem);
    --p2: clamp(0.71rem, 2.07vw, 0.83rem);
    --p3: clamp(0.58rem, 1.9vw, 0.69rem);
    --p4: clamp(0.52rem, 1.73vw, 0.63rem);
    --p5: clamp(0.4rem, 1.67vw, 0.52rem);
  }
} */

@media (width < 640px) {
  :root {
    --h1: clamp(1.5rem, 5vw, 2rem);
    --h2: clamp(1.25rem, 4vw, 1.5rem);
    --h3: clamp(1rem, 3.5vw, 1.25rem);
    --h4: clamp(0.95rem, 3vw, 1.15rem);
    --p1: clamp(16px, 2.5vw, 0.85rem);
    --p2: clamp(12px, 1.8vw, 0.72rem);
    --p3: clamp(10px, 1.65vw, 0.6rem);
    --p4: clamp(8px, 1.5vw, 0.55rem);
    --p5: clamp(0.35rem, 1.45vw, 0.45rem);
  }
}

.font-h1,
.font-h1 * {
  font-size: var(--h1) !important;
}

.font-h2,
.font-h2 * {
  font-size: var(--h2) !important;
}
.font-h3,
.font-h3 * {
  font-size: var(--h3) !important;
}
.font-h4,
.font-h4 * {
  font-size: var(--h4) !important;
}

.font-p1,
.font-p1 * {
  font-size: var(--p1) !important;
}

.font-p1,
.font-p1 * {
  font-size: var(--p1) !important;
}
.font-p2,
.font-p2 * {
  font-size: var(--p2) !important;
}
.font-p3,
.font-p3 * {
  font-size: var(--p3) !important;
}

.font-p4,
.font-p4 * {
  font-size: var(--p4) !important;
}

.font-p5,
.font-p5 * {
  font-size: var(--p5) !important;
}

body {
  background: #FAFAFA;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
  min-height: 100vh;
}


button {
  transition: var(--transition);
  cursor: pointer;
  filter: brightness(100%);
}

button:hover {
  filter: var(--cta-hover);
}
